<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>
		<string>Omnomnom</string>
		<string>Thug lyfe</string>
		<string>Adorable</string>
		<string>Awkward</string>
		<string>True love</string>
		<string>GG</string>
		<string>Epic fail</string>
		<string>Winning</string>
		<string>Nostalgiac</string>
		<string>Unpleasant</string>
		<string>Badass</string>
		<string>Lulz</string>
		<string>Pro</string>
		<string>Act normal!</string>
		<string>Oops</string>
		<string>Sketchy</string>
		<string>Hawt</string>
		<string>Unfortunate</string>
		<string>Lucky</string>
		<string>Throwback</string>
		<string>No thank you.</string>
		<string>Rejected</string>
		<string>F*** yes</string>
		<string>Creepy</string>
		<string>Worst Enemy</string>
		<string>Godly</string>
		<string>Hella bank</string>
	</array>
</dict>
</plist>
